[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "themes/minimal-black"]
	path = themes/minimal-black
	url = https://gitlab.com/jimchr12/hugo-minimal-black.git
